
.caaard{
  display: flex;

  height: 20px !important;
  width: 250px;
}
  .caaard img {
    height: 470px;
    padding-left: 30px;
    padding-top: 20px;
  }
  
 .cardbody h5 {
    font-size: 24px;
    margin-top: 0;
    color: #FDD1FF; 
    padding-left: 325px;
    font-weight: bold;
  }
  
  .cardbody p {
    margin: 10px 0;
    color:#FE6CFE; 
    font-weight: bold;
  }
  
  .cardbody p span {
   font-weight: 10px!important;
    color: #FDD1FF;
  }
  
  .btno {
    background-color: #FE6CFE; 
    color: #1E001F; 
    border: none;
    outline: none;
    
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    
  }
  
  .btn:hover {
    background-color: #FE6CFE; 
  }
  .but{
    padding: 20px;
    padding-left: 300px;
  }
#sp{
  color:#FE6CFE ;
}
.star-rating{
  color: #06FE9B; 

}
.cardbody{
  width: 700px;
  height: 450px;
  padding:30px;
  position: absolute;
  left: 450px;
  bottom: 280px;
  background-color: #290A2A;
  opacity: 80%;
}
